.card {
    width: calc(100% / 4);
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    background: #f0f0f0;
    box-shadow: 5px 5px 10px #b9b9b9;
    margin: 0 40px 100px;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h3 {
    margin: 15px;
    display: block;
    display: -webkit-box;
    height: 2.6em; 
    line-height: 1.3em;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card p {
    background: #fe6800;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 10px 10px 20px;
}

.amount {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-top: 1px solid silver;
}

.amount img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 20px;
}

.amount span {
    background-color: #fe6800;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.deactive {
    opacity: 0.3;
}
